DEV_MODE=true
API_KEY=SOMETHING

DB_HOST=localhost
DB_USERNAME=root
DB_TABLE=tablehere
DB_PASSWORD=password
DB_PORT=3306

AWS_ACCESS_KEY_ID=HIDDEN
AWS_SECRET_ACCESS_KEY=HIDDEN
AWS_REGION=us-east-2
AWS_BUCKET=bucketname
AWS_FOLDER=folder/